/* Via Font */

@font-face {
  font-family: "Viafont";
  src: url("Fonts/Viafont.ttf") format("truetype");
}

/* Christmas Sans */

@font-face {
  font-family: "Christmas";
  src: url("Fonts/Christmas\ Combine\ Sans.ttf") format("truetype");
}

/* Gelline */

@font-face {
  font-family: "Gelline";
  src: url("Fonts/Gelline.otf") format("truetype");
}

/* Nauman */

@font-face {
  font-family: "Nauman";
  src: url("Fonts/Nauman-Regular.ttf") format("truetype");
}

/* Impact */

@font-face {
  font-family: "Impact-New";
  src: url("Fonts/unicode.impact.ttf") format("truetype");
}

/* Default Size */

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("texture.svg");
  background-repeat: repeat;
  scroll-behavior: smooth;
}
#mainframe {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  /* padding: 50px; */
  width: calc(100% - 40px);
  box-sizing: border-box;
  height: 700px;
  background-color: #EEDD82;
  background-image: url("topography.svg");
  background-repeat: repeat;
  border: 2px dashed black;
  overflow: hidden;
}

#ab{
  /* position: absolute;
  left: 3%;
  top: 4%; */
  font-size: 40px;
  align-self: flex-start;
  margin-left: 25px;
  font-family: Viafont;
}

#me {
  height: 500px;
  width: 520px;
  left: -30px;
  bottom: 0;
}

#img_container {
  height: 500px;
  width: 420px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}


.note {
  margin: 0%;
  height: max-content;
  width: max-content;
  padding: 6px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 23px;
  background-color: #EEDD82;
  background-image: url("texture.svg");
  font-family: Christmas;
  font-weight: bold;
}

#note_container {
  height: 300px;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.job{
  font-family: Impact-New; 
  font-size: 90px;
}

.text_img{
  height: 550px; 
  width: 1230px; 
  display: flex;
  align-self: center;
  justify-content: space-between; 
  align-items: center;
}

.navitems{
  height: min-content;
  width: min-content;
  margin: 0%;
  padding: 0%;
}

.navbar{
  height: 65px;
  width: 490px;
  /* margin-top: 80px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
  background-image: url("texture.svg");
  background-color: #EEDD82;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 70px;
  margin-bottom: 20px;
  font-family: Gelline;
  color: black;
  align-self: flex-start;
  /* position: absolute;
  bottom: 7%;
  left: 9%; */
}

.topics{
  margin-top: 20px;
  height: max-content;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.head_one{
  margin-top: 20px;
  font-size: 70px;
  font-family: ViaFont;
}

.head_two{
  font-size: 45px;
  font-family: Gelline;
}

.head_three{
  font-size: 20px;
  font-family: Nauman;
}
.border-dashed{
  border: 2px dashed black;
}

.inst{
  font-size: 25px;
  font-family: Nauman;
  /* font-weight: bold; */
  position: relative;
  left: 50px;
  bottom: 35px;
}

.para{
  font-size: 30px;
  font-family: Nausan;
}

.social{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 900px;
}
.social_contents{
  display: flex; 
  justify-content: space-around; 
  margin: 40px; 
  align-items: center; 
  width: max-content; 
  height: 50px;
}

.social_labels{
  width: max-content;
  align-self: flex-start; 
  padding-left: 10px; 
  font-family: Gelline; 
  font-size: 30px; 
  text-decoration: none; 
  color: black;
}

/* For Mobile Devices */

@media screen and (max-width: 1000px) and (min-width: 751px){
  #mainframe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    /* padding: 20px; */
    height: 390px;
    width: calc(100% - 30px);
    box-sizing: border-box;
    background-color: #EEDD82;
    background-image: url("topography.svg");
    background-repeat: repeat;
    border: 2px dashed black;
  }
  
  #ab{
    /* position: absolute;
    left: 3.5%;
    top: 5%; */
    align-self: flex-start;
    /* margin-left: 60px; */
    margin-left: 15px;
    margin-top: 5px;
    font-size: 25px;
    font-family: Viafont;
  }
  
  #me {
    height: 250px;
    width: 250px;
    left: -30px;
    bottom: 0;
  }
  
  #img_container {
    height: 250px;
    width: 230px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .note {
    margin: 0%;
    height: max-content;
    width: max-content;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 9px;
    background-color: #EEDD82;
    background-image: url("texture.svg");
    font-family: Christmas;
    font-weight: bold;
  }
  
  #note_container {
    height: 100px;
    width: 390px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .job{
    font-family: Impact; 
    font-size: 40px;
  }
  
  .text_img{
    height: 250px; 
    width: 600px; 
    /* margin-top: 40px; */
    display: flex; 
    justify-content: space-between; 
    align-items: center;
  }

  .navitems{
    height: min-content;
    width: min-content;
    margin: 0%;
    padding: 0%;
  }

  .navbar{
    height: 40px; 
    width: 320px; 
    background-color: #EEDD82; 
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 20px; 
    font-family: Gelline; 
    color: black;
    background-image: url('texture.svg'); 
    background-color: #EEDD82;
    align-self: flex-start;
  }

  .topics{
    margin-top: 20px;
    height: max-content;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .head_one{
    margin-top: 20px;
    font-size: 40px;
    font-family: ViaFont;
  }
  
  .head_two{
    font-size: 30px;
    font-family: Gelline;
  }
  
  .head_three{
    font-size: 15px;
    font-family: Nauman;
  }
  .border-dashed{
    border: 2px dashed black;
  }
  
  .inst{
    font-size: 17px;
    font-family: Nauman;
    /* font-weight: bold; */
    position: relative;
    left: 50px;
    bottom: 35px;
  }
  
  .para{
    font-size: 18px;
    font-family: Nausan;
  }
  
  
  .social{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 500px;
    height: 200px;
  }
  .social_contents{
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
    width: max-content; 
    height: 50px;
    margin: 20px;
    padding: 0%;
  }
  
  .social_labels{
    align-self: center;
    padding-left: 10px; 
    font-family: Gelline; 
    font-size: 20px; 
    text-decoration: none; 
    color: black;
    width: max-content;
  }
  .icons{
    height: 30px;
    width: 30px;
  }
}

@media screen and (max-width: 750px) and (min-width:600px){
  #mainframe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    /* padding: 20px; */
    height: 355px;
    width: calc(100% - 30px);
    box-sizing: border-box;
    background-color: #EEDD82;
    background-image: url("topography.svg");
    background-repeat: repeat;
    border: 2px dashed black;
  }
  
  #ab{
    /* position: absolute;
    left: 5%;
    top: 5%; */
    align-self: flex-start;
    margin-left: 10px;
    font-size: 25px;
    font-family: Viafont;
  }
  
  #me {
    height: 200px;
    width: 220px;
    left: -30px;
    bottom: 0;
  }
  
  #img_container {
    height: 220px;
    width: 180px;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .note {
    margin: 0%;
    height: max-content;
    width: max-content;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 9px;
    background-color: #EEDD82;
    background-image: url("texture.svg");
    font-family: Christmas;
    font-weight: bold;
  }
  
  #note_container {
    margin: 0%;
    padding: 0%;
    height: 100px;
    width: 310px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .job{
    font-family: Impact; 
    font-size: 35px;
  }
  
  .text_img{
    height: 320px; 
    width: 550px; 
    margin: 0%;
    padding: 0%;
    display: flex; 
    justify-content: space-evenly; 
    align-items: center;
  }

  .navbar{
    height: 40px; 
    width: 300px; 
    background-color: #EEDD82; 
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    padding: 10px;
    font-size: 18px; 
    font-family: Gelline; 
    color: black;
    background-image: url('texture.svg'); 
    background-color: #EEDD82;
    align-self: flex-start;
    margin-bottom: 10px;
    margin-left: 20px;
  }

  .topics{
    margin-top: 20px;
    height: max-content;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .head_one{
    margin-top: 20px;
    font-size: 40px;
    font-family: ViaFont;
  }
  
  .head_two{
    font-size: 30px;
    font-family: Gelline;
  }
  
  .head_three{
    font-size: 15px;
    font-family: Nauman;
  }
  .border-dashed{
    border: 2px dashed black;
  }
  
  .inst{
    font-size: 17px;
    font-family: Nauman;
    /* font-weight: bold; */
    position: relative;
    left: 40px;
    bottom: 28px;
  }
  
  .para{
    font-size: 14px;
    font-family: Nausan;
  }
  
  
  .social{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 500px;
    height: 200px;
  }
  .social_contents{
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
    width: max-content; 
    height: 50px;
    margin: 20px;
    padding: 0%;
  }
  
  .social_labels{
    align-self: center;
    padding-left: 10px; 
    font-family: Gelline; 
    font-size: 20px; 
    text-decoration: none; 
    color: black;
    width: max-content;
  }
  .icons{
    height: 30px;
    width: 30px;
  }
}