/* Via Font */

@font-face {
  font-family: "Viafont";
  src: url("Fonts/Viafont.ttf") format("truetype");
}

/* Christmas Sans */

@font-face {
  font-family: "Christmas";
  src: url("Fonts/Christmas\ Combine\ Sans.ttf") format("truetype");
}

/* Gelline */

@font-face {
  font-family: "Gelline";
  src: url("Fonts/Gelline.otf") format("truetype");
}

/* Nauman */

@font-face {
  font-family: "Nauman";
  src: url("Fonts/Nauman-Regular.ttf") format("truetype");
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("texture.svg");
  background-repeat: repeat;
}
#mainframe {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* position: fixed; */
  margin: 1.3%;
  height: 700px;
  width: 97.5%;
  /* top: 3%;
  left: 3%; */
  /* overflow: auto; */
  /* margin: -8px; */
  background-color: #EEDD82;
  background-image: url("topography.svg");
  background-repeat: repeat;
  border: 2px dashed black;
}

#ab{
  position: absolute;
  left: 3%;
  top: 4%;
  font-size: 40px;
  font-family: Viafont;
}

#me {
  height: 500px;
  width: 520px;
  /* position: absolute; */
  left: -30px;
  bottom: 0;
}

#img_container {
  height: 500px;
  width: 420px;
  /* position: absolute; */
  /* top: 20%;
  right: 130px; */
  /* left: 60%; */
  /* top: 100px; */
  overflow: hidden;
  /* border-radius: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
}


.note {
  margin: 0%;
  /* position: absolute; */
  height: fit-content;
  width: fit-content;
  font-size: 23px;
  font-family: Christmas;
  font-weight: bold;
}

#note_container {
  height: 300px;
  width: 700px;
  /* top: 30%;
  left: 10%;
  position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.text_img{
  position: absolute;
  top: 18%;
  left: 10%;
  height: 500px; 
  width: 1230px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}

.topics{
  margin-top: 20px;
  height: max-content;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.head_one{
  font-size: 70px;
  font-family: ViaFont;
}

.head_two{
  font-size: 50px;
  font-family: Gelline;
}

.head_three{
  font-size: 20px;
  font-family: Nauman;
}
.border-dashed{
  border: 2px dashed black;
}

.inst{
  font-size: 25px;
  font-family: Nausan;
  position: relative;
  left: 50px;
  bottom: 35px;
}

.para{
  font-size: 20px;
  font-family: Nausan;
}